<a href="https://colab.research.google.com/github/Monic177/PrakAlgo_Monica_065002300030/blob/main/PrakAlgo9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print('@   @ @@@@ @@@@ @ @@@ @@@@')
print('@ @ @ @  @ @  @ @ @   @  @')
print('@   @ @  @ @  @ @ @   @@@@')
print('@   @ @@@@ @  @ @ @@@ @  @')

print("========== ELKOM 1 ==========")

def list_to_tuple(input_list):
    return tuple(input_list)

# Contoh list
sample_list = [0, 6, 8, 1, 2, 3, 5, 7, 4]

# Konversi list menjadi tuple
result_tuple = list_to_tuple(sample_list)

print(sample_list)
print("hasil reverse ke tuple")
print(result_tuple)

@   @ @@@@ @@@@ @ @@@ @@@@
@ @ @ @  @ @  @ @ @   @  @
@   @ @  @ @  @ @ @   @@@@
@   @ @@@@ @  @ @ @@@ @  @
========== ELKOM 1 ==========
[0, 6, 8, 1, 2, 3, 5, 7, 4]
hasil reverse ke tuple
(0, 6, 8, 1, 2, 3, 5, 7, 4)

In [22]:
print('tuple 1:')
a = ('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
print(a)
def ratarata(angka):
    rata_rata = [int(x) for x in angka.split(', ')]
    return int(sum(rata_rata) / len(rata_rata))

averages = [ratarata(group) for group in a]
print("rata rata dari tuple adalah : ")
print(averages)

print("===== MONICA SICILIA SIMANJUNTAK =====")
print("===== 065002300030 =====")

tuple 1:
('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
rata rata dari tuple adalah :
[1022, 1026, 1029]
===== MONICA SICILIA SIMANJUNTAK =====
===== 065002300030 =====

In [23]:
print('@   @ @@@@ @@@@ @ @@@ @@@@')
print('@ @ @ @  @ @  @ @ @   @  @')
print('@   @ @  @ @  @ @ @   @@@@')
print('@   @ @@@@ @  @ @ @@@ @  @')

print("Elkom 3")
a = [1,2,4,3]

print(a)

hasil = 1

for result in a:
    hasil *= result


print(hasil)

@   @ @@@@ @@@@ @ @@@ @@@@
@ @ @ @  @ @  @ @ @   @  @
@   @ @  @ @  @ @ @   @@@@
@   @ @@@@ @  @ @ @@@ @  @
Elkom 3
[1, 2, 4, 3]
24

In [26]:
def hitung(liststring):
    count = 0
    for string in liststring:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
            print(f"-{string}")
    return count


my_list = ['z', 'xvc', 'cac', '244']
print(my_list)
result = hitung(my_list)

print(f"terdapat {result} yang memenuhi syarat")

['z', 'xvc', 'cac', '244']
-cac
terdapat 1 yang memenuhi syarat